<script type="text/template" id="pokemon-list-item-template">
  <li class="poke-list-item" data-id="<%%= pokemon.get('id')%>">
  <%% var shortInfo = ['name', 'poke_type'] %>
  <%% shortInfo.forEach(function (attr) { %>
    <span style="font-weight:bold;">
       <%%= attr %>: <%%= pokemon.get(attr) %>
    </span>
  <br>
  <%% }); %>
  </li>
</script>

  <!-- $li.data('id', pokemon.get('id'));

  var shortInfo = ['name', 'poke_type'];
  shortInfo.forEach(function (attr) {
    $li.append(attr + ': ' + pokemon.get(attr) + '<br>');
  }); -->


<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <img src="<%%= pokemon.escape('image_url') %>"></img><br>
    <%% for (var attr in pokemon.attributes) { %>
    <span style="font-weight:bold;"><%%= attr %>
      : <%%= pokemon.get(attr)%></span>
    <br>
    <%% } %>
  </div>  
</script>

  <!-- var $li = $('<li class="toy-list-item">');
  $li.data('id', toy.get('id'));
  $li.data('pokemon-id', toy.get('pokemon_id'));

  var shortInfo = ['name', 'happiness', 'price']; -->
  <!-- shortInfo.forEach(function (attr) {
    $li.append(attr + ': ' + toy.get(attr) + '<br>');
  });

  var toylist = JST["toyListItem"]{toy: toy}

  this.$pokeDetail.append(toylist);
  this.$pokeDetail.find(".toys").append($li); -->

<script type="text/template" id="toy-list-item-template">
    <li class="toy-list-item" 
        data-id="<%%= toy.get("id")%>"
        data-pokemon-id="<%%= toy.get("pokemon_id")%>"
        >
  
      <%% var shortInfo = ['name', 'happiness', 'price']; %>
      <%% shortInfo.forEach(function (attr) { %>
        <%%= attr %>: <%%= toy.get(attr) %>
        <br>
      <%% }) %>
    </li>
</script>

  <!-- // Phase III
  var $pokemonSelect = $('<select>');
  $pokemonSelect.data("pokemon-id", toy.get("pokemon_id"));
  $pokemonSelect.data("toy-id", toy.id);
  this.pokes.each(function (pokemon) {
    var $pokemonOption = $('<option>');
    $pokemonOption.attr("value", pokemon.id);
    $pokemonOption.text(pokemon.get("name"));
    if (pokemon.id == toy.get("pokemon_id")) {
      $pokemonOption.prop("selected", true);
    }
    $pokemonSelect.append($pokemonOption);
  });
  $detail.append($pokemonSelect);

  this.$toyDetail.html($detail); -->

<script type="text/template" id="toy-detail-template">
  <div class="detail">
    <%%= "<img src='" + toy.escape('image_url') + "'></img>" %><br>
    <%% for (var attr in toy.attributes) { %>
    <span style="font-weight:bold;"><%%= attr %>
      : <%%= toy.get(attr)%></span>
    <br>
    <%% } %>
  </div>
  
<!--select assignment -->
  <select data-toy-id="<%%= toy.get("id") %>"
          data-pokemon-id="<%%= toy.get("pokemon_id")%>">
  
  <%% pokemon.each(function (mon) { %>
    <option value="<%%= mon.get("id") %>" 
            text="<%%= mon.get("name") %>"
      <%% if(mon.get("id") === toy.get("pokemon_id")) {%>
        selected
      <%% } %>>
      <%%= mon.get("name") %>
    </option>
  <%% }); %>
  </select>
</script>